@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Variable:opsz@8..144;wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0,1;wght@400..800&display=swap");
